
<div class="btn btn-info btn-lg col-xs-offset-2">
  <span class="glyphicon glyphicon-pencil "><%= link_to "Create Article", new_article_path %></span>
</div>
<% obj.each do |article| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="article-title">
            Article by:  <%= link_to article.title, article_path(article) %>
          </div>
          <div class="article-title">
            <%= link_to article.author %>
          </div>
          <div class="article-body">
            <%= link_to truncate(article.description, length: 100) %>
            <div class="article-meta-details">
              <small>Create By: <%= article.user.username %> <%= time_ago_in_words(article.created_at) %>, ago
                Last updated: <%= time_ago_in_words(article.updated_at) %> ago
              </small>
            </div>
          </div>
          <div class="article-actions">
            <%if logged_in? && (current_user == article.user || current_user.admin?)%>

            <%= link_to "View Articles", articles_path, class: "btn btn-xs btn-success" %>
            <%= link_to "Delete Article", article_path(article), method: :delete, data: {confirm: "Delete Article ?"}, class: "btn btn-xs btn-danger" %>

            <%= link_to "Edit Article", edit_article_path(article), class: "btn btn-xs btn-primary" %>
                <%end %>
          </div>

        </div>
      </div>
    </div>
<% end %>