<h1>Show An Article</h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Author: <%= @article.author %>

</p>

<p>
  Description: <%= @article.description %>
</p>
<%= link_to "Edit this article", edit_article_path(@article) %> |
<%= link_to "Back to articles", articles_path %>

