<div class="container">
<h1>Show An Article</h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Author: <%= @article.author %>

</p>

<p>
  Description: <%= @article.description %>
</p>
  <div class="btn btn-info btn-sm"><span class="glyphicon glyphicon-step-backward"></span><%= link_to "Back to Articles",
                                                                                                      articles_path
  %></div>
  <div class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit"></span><%= link_to "Edit Article",
                                                                                            edit_article_path(@article) %></div>

  </div>
